In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Datasets/TMDb_updated.csv')
df.head()

,Unnamed: 0,title,overview,original_language,vote_count,vote_average
0,0,Ad Astra,"The near future, a time when both hope and har...",en,2853,5.9
1,1,Bloodshot,"After he and his wife are murdered, marine Ray...",en,1349,7.2
2,2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,en,2530,7.1
3,3,Ant-Man,Armed with the astonishing ability to shrink i...,en,13611,7.1
4,4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",en,3542,5.9

In [9]:
new_df = df[['title','overview','vote_average']]

new_df

,title,overview,vote_average
0,Ad Astra,"The near future, a time when both hope and har...",5.9
1,Bloodshot,"After he and his wife are murdered, marine Ray...",7.2
2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,7.1
3,Ant-Man,Armed with the astonishing ability to shrink i...,7.1
4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",5.9
...,...,...,...
9995,Cargo,The story of CARGO takes place on rusty space-...,5.9
9996,The Good Night,"Gary, a musician, is trapped in an unhappy rel...",5.6
9997,The World Is Yours,"To escape his life of crime, a Paris drug deal...",7.1
9998,The Grand Seduction,A small fishing village must procure a local d...,6.7
9999,Woochi: The Demon Slayer,"Spanning four centuries in Korea, this epic ac...",6.7

In [29]:
new_df['title_for_join']=new_df['title'].str.strip()

<ipython-input-29-b6ea9c512e9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title_for_join']=new_df['title'].str.strip()

In [30]:
new_df.sample(20)

,title,overview,vote_average,title_for_join
5134,Trumbo,The career of screenwriter Dalton Trumbo is ha...,7.2,Trumbo
2762,Tremors,Hick handymen Val McKee and Earl Bassett can b...,6.7,Tremors
2684,High School Musical 2,The East High Wildcats are ready to have the t...,6.5,High School Musical 2
1669,Das perfekte Geheimnis,Seven friends - three women and four men - mee...,6.9,Das perfekte Geheimnis
2345,The Guilty,"Police officer Asger Holm, demoted to desk wor...",7.3,The Guilty
9642,Wuthering Heights,A poor boy of unknown origins is rescued from ...,5.9,Wuthering Heights
3794,Nutty Professor II: The Klumps,The hilarity begins when professor Sherman Klu...,4.9,Nutty Professor II: The Klumps
7970,Kazaam,"When Max fools a gang of local toughs, he find...",3.8,Kazaam
1424,A Fistful of Dollars,The Man With No Name enters the Mexican villag...,7.9,A Fistful of Dollars
6766,Mirai,The movie follows a 4-year old boy who is stru...,7.2,Mirai
4228,Exit Through the Gift Shop,Banksy is a graffiti artist with a global repu...,7.7,Exit Through the Gift Shop
493,Rocketman,"The story of Elton John's life, from his years...",7.4,Rocketman
9922,A Dirty Carnival,"Byung-du is a 29-year-old career criminal, wor...",7.1,A Dirty Carnival
5005,Military Wives,Inspired by global phenomenon of military wive...,8.3,Military Wives
7714,The Outpost,A small team of U.S. soldiers battle against h...,0.0,The Outpost
5319,The Crimson Rivers,"Two French policemen, one investigating a gris...",6.9,The Crimson Rivers
1550,Felon,A family man convicted of killing an intruder ...,7.2,Felon
1318,Смотри как я,"Escaping from the orphanage, a desperate kid O...",0.0,Смотри как я
7201,Don,DCP DeSilva sees a way to bring to justice the...,7.2,Don
3436,Flight of the Navigator,12-year-old David is accidentally knocked out ...,7.0,Flight of the Navigator

In [31]:
chars = "\`*_{}[]()>#+-.,!$:;%'&/?"
for c in chars:
    new_df['title_for_join'] = new_df['title_for_join'].str.replace(c,"")

new_df

<ipython-input-31-7bb9c5993776>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title_for_join'] = new_df['title_for_join'].str.replace(c,"")

,title,overview,vote_average,title_for_join
0,Ad Astra,"The near future, a time when both hope and har...",5.9,Ad Astra
1,Bloodshot,"After he and his wife are murdered, marine Ray...",7.2,Bloodshot
2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,7.1,Bad Boys for Life
3,Ant-Man,Armed with the astonishing ability to shrink i...,7.1,AntMan
4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",5.9,Percy Jackson Sea of Monsters
...,...,...,...,...
9995,Cargo,The story of CARGO takes place on rusty space-...,5.9,Cargo
9996,The Good Night,"Gary, a musician, is trapped in an unhappy rel...",5.6,The Good Night
9997,The World Is Yours,"To escape his life of crime, a Paris drug deal...",7.1,The World Is Yours
9998,The Grand Seduction,A small fishing village must procure a local d...,6.7,The Grand Seduction
9999,Woochi: The Demon Slayer,"Spanning four centuries in Korea, this epic ac...",6.7,Woochi The Demon Slayer

In [32]:
clean_df = new_df.drop_duplicates()
clean_df

,title,overview,vote_average,title_for_join
0,Ad Astra,"The near future, a time when both hope and har...",5.9,Ad Astra
1,Bloodshot,"After he and his wife are murdered, marine Ray...",7.2,Bloodshot
2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,7.1,Bad Boys for Life
3,Ant-Man,Armed with the astonishing ability to shrink i...,7.1,AntMan
4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",5.9,Percy Jackson Sea of Monsters
...,...,...,...,...
9995,Cargo,The story of CARGO takes place on rusty space-...,5.9,Cargo
9996,The Good Night,"Gary, a musician, is trapped in an unhappy rel...",5.6,The Good Night
9997,The World Is Yours,"To escape his life of crime, a Paris drug deal...",7.1,The World Is Yours
9998,The Grand Seduction,A small fishing village must procure a local d...,6.7,The Grand Seduction
9999,Woochi: The Demon Slayer,"Spanning four centuries in Korea, this epic ac...",6.7,Woochi The Demon Slayer