In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
streaming_data = "clean_datasets/clean_streaming.csv"
streaming_df = pd.read_csv(streaming_data)
streaming_df.head()

,Title,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,on_platforms_besides_netflix,title_for_join
0,Inception,13+,8.8,87%,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,inception
1,The Matrix,18+,8.7,87%,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,thematrix
2,Avengers: Infinity War,13+,8.5,84%,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,avengersinfinitywar
3,Back to the Future,7+,8.5,96%,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,0,backtothefuture
4,"The Good, the Bad and the Ugly",18+,8.8,97%,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,1,thegoodthebadandtheugly

In [3]:
netflix_data = "clean_datasets/clean_netflix_data.csv"
netflix_df = pd.read_csv(netflix_data)
netflix_df.head()

,netflix_title,cast,date_added_to_netflix,release_year,maturity_rating,description,title_for_join
0,3%,"João Miguel, Bianca Comparato, Michel Gomes, R...","August 14, 2020",2020,TV-MA,In a future where the elite inhabit an island ...,3
1,7:19,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","December 23, 2016",2016,TV-MA,After a devastating earthquake hits Mexico Cit...,719
2,23:59,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","December 20, 2018",2011,R,"When an army recruit is found dead, his fellow...",2359
3,9,"Elijah Wood, John C. Reilly, Jennifer Connelly...","November 16, 2017",2009,PG-13,"In a postapocalyptic world, rag-doll robots hi...",9
4,21,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...","January 1, 2020",2008,PG-13,A brilliant group of students become card-coun...,21

In [4]:
tmdb_data = "clean_datasets/clean_TMDb_data.csv"
tmdb_df = pd.read_csv(tmdb_data)
tmdb_df.head()

,title,overview,vote_average,title_for_join
0,Ad Astra,"The near future, a time when both hope and har...",5.9,adastra
1,Bloodshot,"After he and his wife are murdered, marine Ray...",7.2,bloodshot
2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,7.1,badboysforlife
3,Ant-Man,Armed with the astonishing ability to shrink i...,7.1,antman
4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",5.9,percyjacksonseaofmonsters

In [32]:
# Create a filtered dataframe from specific columns
streaming_cols = ["Title", "Age", "IMDb", "Rotten Tomatoes", "Directors","Genres", "Country", "Language", "Runtime", "on_platforms_besides_netflix", "title_for_join"]
streaming_cols_chart = streaming_df[streaming_cols]

# Rename the column headers
streaming_cols_chart = streaming_cols_chart.rename(columns={"Rotten Tomatoes": "rotten_tomatoes",
                                                           "Title": "title",
                                                           "Age": "age", 
                                                            "IMDb": "imdb", 
                                                            "Directors": "director",
                                                            "Genres": "genres", 
                                                            "Country": "country", 
                                                            "Language": "language",
                                                            "Runtime": "runtime"})


streaming_cols_chart.head()

,title,age,imdb,rotten_tomatoes,director,genres,country,language,runtime,on_platforms_besides_netflix,title_for_join
0,Inception,13+,8.8,87%,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,inception
1,The Matrix,18+,8.7,87%,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,thematrix
2,Avengers: Infinity War,13+,8.5,84%,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,avengersinfinitywar
3,Back to the Future,7+,8.5,96%,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,0,backtothefuture
4,"The Good, the Bad and the Ugly",18+,8.8,97%,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,1,thegoodthebadandtheugly

In [28]:
#Rename Column 

netflix_df = netflix_df.rename(columns={"cast": "movie_cast"})

netflix_df.head()

,netflix_title,movie_cast,date_added_to_netflix,release_year,maturity_rating,description,title_for_join
0,3%,"João Miguel, Bianca Comparato, Michel Gomes, R...","August 14, 2020",2020,TV-MA,In a future where the elite inhabit an island ...,3
1,7:19,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","December 23, 2016",2016,TV-MA,After a devastating earthquake hits Mexico Cit...,719
2,23:59,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","December 20, 2018",2011,R,"When an army recruit is found dead, his fellow...",2359
3,9,"Elijah Wood, John C. Reilly, Jennifer Connelly...","November 16, 2017",2009,PG-13,"In a postapocalyptic world, rag-doll robots hi...",9
4,21,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...","January 1, 2020",2008,PG-13,A brilliant group of students become card-coun...,21

In [8]:
#connect engine

connection_string = "postgres:postgres@localhost:5433/netflix_data"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
engine.table_names()

['streaming_data', 'netflix_data', 'tmdb_data']

In [17]:
netflix_df.to_sql(name='netflix_data', con=engine, if_exists='append', index=False)

In [33]:
streaming_cols_chart.to_sql(name='streaming_data', con=engine, if_exists='append', index=False)

In [25]:
tmdb_df.to_sql(name='tmdb_data', con=engine, if_exists='append', index=False)